mixin header
  header.page-header
    .page-header__logo
      img(src="./images/getmobit_logo.svg")

    nav.page-header__nav
      ul 
        li Продукты
        li 
          a(href="/portfolio") Наши проекты
        li Компания

    .page-header__btn-group
      button напишите нам
      button вход в личный кабинет